---
version: 2.1
executors:
  python_executor:
    docker:
      - image: circleci/python:3.7.4
  node_executor:
    docker:
      - image: circleci/node:12.9.0-stretch
  ruby_executor:
    docker:
      - image: circleci/ruby:2-stretch

jobs:
  build:
    executor: python_executor
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - restore_cache:
          keys:
            - deps-{{ checksum "./common/build_tools/requirements.txt" }}
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r ./common/build_tools/requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: deps-{{ checksum "./common/build_tools/requirements.txt" }}
      - run:
          name: Run MkDocs
          command: |
            . venv/bin/activate
            mkdocs build -s

  vale:
    executor: python_executor
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          name: Install dependencies
          command: |
            curl -sfL https://install.goreleaser.com/github.com/ValeLint/vale.sh | sh -s v1.7.1
      - run:
          name: Run Vale
          command: |
            ./bin/vale --config ./common/build_tools/vale/.vale.ini --glob='*.{md}' --output=line . | tee ./vale.out
      - store_artifacts:
          path: ./vale.out
          destination: ./vale.out

  linkchecker:
    executor: node_executor
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - restore_cache:
          keys:
            - deps-{{ checksum "./common/build_tools/package.json" }}
      - run:
          name: Install dependencies
          command: |
            npm install
      - run:
          name: Run markdown link checker
          command: |
            npm run test:links
      - save_cache:
          paths:
            - ./node_modules
          key: deps-{{ checksum "./common/build_tools/package.json" }}
      - store_artifacts:
          path: ./linkchecker.out
          destination: ./linkchecker.out

  markdownlint:
    executor: ruby_executor
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          name: Install dependencies
          command: |
            gem install mdl
      - run:
          name: Run Markdownlint
          command: |
            mdl --ignore-front-matter --style ./common/build_tools/markdownlint/style.rb . | tee ./markdownlint.out
      - store_artifacts:
          path: ./markdownlint.out
          destination: ./markdownlint.out

workflows:
  version: 2
  default:
    jobs:
      - build
      - vale
      - markdownlint
      - linkchecker
  nightly:
    triggers:
      - schedule: # GMT
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - linkchecker
